body{
    margin: 0;
    padding: 0;
    font-family: "Graduate", serif;
    text-align: center;
    background-color: rgb(35, 34, 34);
    color: #ee7b30;
}

button{
    cursor: pointer;
    font-family: "Graduate", serif;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
}

h2{
    color: #ee7b30
}

span{
    color: white;   
}
.main-container{
    background-color: #18020c;
    max-width: 40%;
    margin: auto;
    max-height: 100%;
    padding-bottom: 2.5em
}
.top-container{
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.home-container span{
    display: block;
}

.home-container{
    margin-right: 25px;
}
.away-container span{
    display: block;
}

.middle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
}

.middle-container span{
    display: block;
    margin-top: 0;
    margin-bottom: 15px;
}

.middle-container h2{
    margin-bottom: 10px;
}
.period-container{
    margin: 0 4.5em 0 4.5em;
}